#resize_scaled {
  margin: 0px;
  margin-bottom: 20px;
}

#resize_scaled,
#resize_original {
  position: relative;
  top: 0px;
  left: 50%;
  border: solid 2px #777;
}

#resize_scaled div,
#resize_original div {
  position: absolute;
}

#resize_scaled div.border,
#resize_original div.border {
  width: 100%;
  height: 100%;
  left: -1px;
  top: -1px;
  border: dotted 1px #0F0;
}

